.venv
*env
# data/raw
**.npy
data/fsdd/audio
data/GTZAN

data/raw/maestro-v3.0.0/**/**.wav
data/raw/maestro-v3.0.0/**/**.midi
data/raw/maestro-v3.0.0/**/**
data/raw/backing_tracks/**
data/processed
**visualizations/
samples/

.midi
*.pth
*.pkl
__pycache__

*.mp4